.loginPage {
  min-height: 100vh;
  min-width: 100vw;
  top: 100vh;
  position: fixed;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition-duration: 750ms;
}

.loginPage header {
  color: white;
  font-size: 13vw;
  text-align: center;
  text-shadow: 0 0 3px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ba9ca,
    0 0 70px #0ba9ca, 0 0 80px #0ba9ca;
}

.loginPage main {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.loginPage h2 {
  color: white;
  font-weight: 300;
  font-size: 1.2rem;
  margin-top: 5px;
}

.loginSection {
  width: 100%;
}

.loginPage section input {
  width: 100%;
  height: 1.8rem;
  margin-top: 10px;
  outline: none;
  font-size: 1.1rem;
}
/* .loginPage section input: { */

.buttons {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.glowBtn {
  margin-top: 0.5rem;
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 12px 0;
  border-radius: 5px;
  font-size: 1.1rem;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#signUpBtn {
  background-color: black;
  border: none;
  outline: none;
  color: grey;
  margin-top: 10px;
  padding: unset;
}

.socialLogin {
  width: 100% !important;
  height: 100%;
  background: #fee501;
  font-size: 1.1rem;
  outline: none;
  color: #3c1d1e;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.linkBtn {
  text-decoration: none;
  margin-top: 0.5rem;
  height: 2.8rem;
}

#signUpBtn {
  font-size: 1.1rem;
}

.socialLoginNaver {
  width: 100% !important;
  height: 100%;
  font-size: 1.1rem;
  outline: none;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background: #02c75a;
}
