.recordPage {
  background-color: black;
  color: white;
  min-height: 100vh;
  min-width: 100vw;
}
.recordPage main section {
  margin-top: 10px;
}

.record {
  text-align: left;
  width: 100%;
  padding: 3px 0;
  font-size: 4.5vw;
}

#workoutList {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90vw;
  margin-top: 5px;
}
